comics/
disc-images/
documents/
downloads/
film/
misc/
music/
pictures/
podcasts/
projects/
shares/

.cache/
.local/

.dotfiles.git/

.ssh/
.gnupg/
.Xauthority
.bash_history
.mysql_history
.password-store/
.pki/
.sqlite_history
.steam/
.steam*
.thumbnails/
.wget-hsts
.xsession-errors*

