[submodule ".config/nvim/pack/plugins/start/jsonc.vim"]
	path = .config/nvim/pack/plugins/start/jsonc.vim
	url = https://github.com/neoclide/jsonc.vim
[submodule ".config/nvim/pack/plugins/start/i3-vim-syntax"]
	path = .config/nvim/pack/plugins/start/i3-vim-syntax
	url = https://github.com/PotatoesMaster/i3-vim-syntax
[submodule ".config/nvim/pack/plugins/start/vim-airline"]
	path = .config/nvim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".config/nvim/pack/plugins/start/vim-airline-themes"]
	path = .config/nvim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".config/nvim/pack/plugins/start/vim-fish"]
	path = .config/nvim/pack/plugins/start/vim-fish
	url = https://github.com/dag/vim-fish
[submodule ".config/nvim/pack/plugins/start/vim-glsl"]
	path = .config/nvim/pack/plugins/start/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule ".config/nvim/pack/plugins/start/vim-noctu"]
	path = .config/nvim/pack/plugins/start/vim-noctu
	url = https://github.com/noahfrederick/vim-noctu
[submodule ".config/nvim/pack/plugins/start/vim-arktu"]
	path = .config/nvim/pack/plugins/start/vim-arktu
	url = https://github.com/rkanati/vim-arktu
[submodule ".config/nvim/pack/plugins/start/vim-fugitive"]
	path = .config/nvim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".config/nvim/pack/plugins/start/vim-better-whitespace"]
	path = .config/nvim/pack/plugins/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule ".config/nvim/pack/plugins/start/vim-toml"]
	path = .config/nvim/pack/plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule ".config/nvim/pack/plugins/start/nvim-lspconfig"]
	path = .config/nvim/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule ".config/nvim/pack/plugins/start/lsp_extensions.nvim"]
	path = .config/nvim/pack/plugins/start/lsp_extensions.nvim
	url = https://github.com/tjdevries/lsp_extensions.nvim
[submodule ".config/nvim/pack/plugins/start/vim-one"]
	path = .config/nvim/pack/plugins/start/vim-one
	url = https://github.com/rakr/vim-one
[submodule ".config/nvim/pack/plugins/start/ayu-vim"]
	path = .config/nvim/pack/plugins/start/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim
[submodule ".config/nvim/pack/plugins/start/onedark.vim"]
	path = .config/nvim/pack/plugins/start/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule ".config/nvim/pack/plugins/start/oceanic-next"]
	path = .config/nvim/pack/plugins/start/oceanic-next
	url = https://github.com/mhartington/oceanic-next
[submodule ".config/nvim/pack/plugins/start/rust.vim"]
	path = .config/nvim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".config/nvim/pack/plugins/start/molokayo"]
	path = .config/nvim/pack/plugins/start/molokayo
	url = https://github.com/fmoralesc/molokayo
[submodule ".config/nvim/pack/plugins/start/molokai"]
	path = .config/nvim/pack/plugins/start/molokai
	url = https://github.com/tomasr/molokai
[submodule ".config/nvim/pack/plugins/start/fzf.vim"]
	path = .config/nvim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".config/nvim/pack/plugins/start/ayu-vim-rk"]
	path = .config/nvim/pack/plugins/start/ayu-vim-rk
	url = https://github.com/rkanati/ayu-vim-rk
[submodule ".config/nvim/pack/plugins/start/nvim-compe"]
	path = .config/nvim/pack/plugins/start/nvim-compe
	url = https://github.com/hrsh7th/nvim-compe
