* {
    border: none;
    border-radius: 0;
    font-family: ui, sans-serif;
    font-weight: normal;
    font-size: 11pt;
    min-height: 0;
}

window#waybar {
    background: rgba(8,12,16,0.8); /*rgba(43, 48, 59, 0.5);*/
    border-bottom: 3px solid rgba(8,12,16,1.0);
    color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.visible {
    background: #64727d;
}

#workspaces button.focused {
    background: #64727d;
    border-bottom: 3px solid white;
}

#workspaces button.urgent {
    color: black;
    background: #ff4081;
    border-bottom: 3px solid white;
}

#mode {
    background: #64727d;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode, #mpd {
    padding: 0 10px;
    margin: 0 5px;
}

#clock {
    border-bottom: 3px solid #64727d;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26a65b;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background: #2ecc71;
    color: #000000;
}

#memory {
    border-bottom: 3px solid #9b59b6;
}

#memory.warning {
    border-bottom: 3px solid orange;
    background: transparent;
}

#memory.critical {
    border-bottom: 3px solid red;
    color: black;
    background: red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
  /*background: #2980b9;*/
    background: #2ecc71;
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
    background: #f1c40f;
    color: black;
}

#pulseaudio.muted {
    background: #90b1b1;
    color: #2a5c45;
}

#mpd.playing {
    border-bottom: 3px solid #2ecc71;
}

#mpd.paused {
    border-bottom: 3px solid #f1c40f;
}

#mpd.stopped {
}

#tray {
    border-bottom: 3px solid #2980b9;
}

