* {
    border: none;
    border-radius: 0;
    font-family: monospace, sans-serif;
    font-weight: 600;
    font-size: 12pt;
    min-height: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

window#waybar {
    background: rgba(8,12,16,0.7);
    color: #e6e1cf;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode, #mpd, #workspaces, #window {
    padding: 0;
    margin: 0 10px;
}

#tray {
    font-family: ui, sans-serif;
    /*font-weight: normal;*/
    /*font-size: 12pt;*/
}

#workspaces button {
    background: transparent;
    padding: 0 2px;
}

#workspaces button.focused {
    background-image: radial-gradient(circle at bottom, #d4bfff 2.5px, transparent 2.5px);
    color: white;
}

#workspaces button.urgent {
    color: black;
    background: #ff4081;
}

#workspaces button.urgent.focused {
    background-image: radial-gradient(circle at bottom, black 2.5px, transparent 2.5px);
}

#mode {
    background: #64727d;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26a65b;
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background: #2ecc71;
    color: #000000;
}

#memory.warning {
    background-image: radial-gradient(circle at bottom, orange 2.5px, transparent 2.5px);
}

#memory.critical {
    color: black;
    background: red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    background: #2ecc71;
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
    background: #f1c40f;
    color: black;
}

#pulseaudio.muted {
    background: #90b1b1;
    color: #2a5c45;
}

