* {
  text-color:       #b4b5b6;
  background-color: #00000000;
}

#window {
  background-color: #080c10f0;
  height:           100%;
  width:            15em;
  location:         west;
  anchor:           west;
  border:           0px 0px 0px 0px;
  padding:          4px;
}

#element selected normal {
  background-color: #207b88;
  text-color:       #ffffff;
}

